<div class="modal-overlay" *ngIf="isOpen" (click)="onBackdropClick($event)">
  <div class="modal-container" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h5 class="modal-title">Registrar Nueva Persona</h5>
      <button type="button" class="close-btn" (click)="onClose()">
        <i class="bx bx-x"></i>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="personaForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-column">
            <div class="mb-3">
              <label for="dni" class="form-label">DNI:</label>
              <input
                type="text"
                class="form-control"
                id="dni"
                formControlName="dni"
                placeholder="Ej. 73948467"
                maxlength="8"
              />
            </div>
            <div class="mb-3">
              <label for="direccion" class="form-label">Dirección:</label>
              <input
                type="text"
                class="form-control"
                id="direccion"
                formControlName="direccion"
                placeholder="Ej. Av. Tahuantinsuyo La esperanza"
              />
            </div>
            <div class="mb-3">
              <label for="tipoPersona" class="form-label">Tipo Persona:</label>
              <select
                class="form-select"
                id="tipoPersona"
                formControlName="tipoPersona"
              >
                <option value="Cliente">Cliente</option>
                <option value="Empleado">Empleado</option>
              </select>
            </div>
            <!-- Campo Rol solo para Empleado -->
            <div *ngIf="esEmpleado">
              <div class="mb-3">
                <label for="rol" class="form-label">Rol:</label>
                <select
                  class="form-select"
                  id="rol"
                  formControlName="rol"
                  [class.is-invalid]="isFieldInvalid('rol')"
                >
                  <option value="" disabled>Seleccione un rol</option>
                  <option 
                    *ngFor="let rol of roles"
                    [value]="rol.rol_id"> 
                    {{ rol.nombre_rol}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-column">
            <div class="mb-3">
              <label for="nombres" class="form-label">Nombres:</label>
              <input
                type="text"
                class="form-control"
                id="nombres"
                formControlName="nombres"
                placeholder="Ej. Josias Israel"
              />
            </div>
            <div class="mb-3">
              <label for="telefono" class="form-label">Telefono:</label>
              <input
                type="text"
                class="form-control"
                id="telefono"
                formControlName="telefono"
                placeholder="Ej. 923579158"
                maxlength="9"
              />
            </div>
            <!-- Campos solo para Empleado -->
            <div *ngIf="esEmpleado">
              <div class="mb-3">
                <label for="nombreUsuario" class="form-label"
                  >Nombre de Usuario:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="nombreUsuario"
                  formControlName="nombreUsuario"
                  placeholder="Ej. jparedes"
                />
              </div>
              <div class="mb-3">
                <label for="contrasena" class="form-label">Contraseña:</label>
                <div class="input-group">
                  <input
                    [type]="mostrarContrasena ? 'text' : 'password'"
                    class="form-control"
                    id="contrasena"
                    formControlName="contrasena"
                    placeholder="Contraseña"
                  />
                  <button
                    type="button"
                    class="btn btn-outline-secondary"
                    (click)="toggleMostrarContrasena()"
                    tabindex="-1"
                  >
                    <i
                      class="bx"
                      [ngClass]="mostrarContrasena ? 'bx-show' : 'bx-hide'"
                    ></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-column">
            <div class="mb-3">
              <label for="apellidos" class="form-label">Apellidos:</label>
              <input
                type="text"
                class="form-control"
                id="apellidos"
                formControlName="apellidos"
                placeholder="Ej. Paredes Tulumba"
              />
            </div>
            <div class="mb-3">
              <label for="correo" class="form-label">Correo Electronico</label>
              <input
                type="email"
                class="form-control"
                id="correo"
                formControlName="correo"
                placeholder="Ej. sonia@example.com"
              />
            </div>
            <!-- Campo Puesto solo para Empleado -->
            <div *ngIf="esEmpleado">
              <div class="mb-3">
                <label for="puesto" class="form-label">Puesto:</label>
                <input
                  type="text"
                  class="form-control"
                  id="puesto"
                  formControlName="puesto"
                  placeholder="Ej. Supervisor"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="onClose()">
            Cancelar
          </button>
          <button type="submit" [disabled]="isLoading" class="btn btn-success custom-btn">
            <i class="bx bx-save me-1"></i> Registrar Persona
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
